.header {
  height: 100vh; /* out of 100 */
  background-image: linear-gradient(
      to right,
      rgba(67, 48, 133, 0.8),
      rgba(58, 65, 62, 0.692)
    ),
    url("../images/chicago.jpg");
  background-size: cover; /* try to fit width of viewport or element */
  background-position: top; /* top of img stays atop container */
  position: relative;
}

.column {
  padding-top: 1vh;

  text-align: center;
  width: 100%;
}

.chicago {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; /* fixes shaking in animation */
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 40px;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 1.1;
}

.arrow {
  min-height: 100px;
  width: 100px;
  vertical-align: middle;
  background: url("../images/arrow.png");
  background-size: cover;
  background-color: transparent;
  outline: none;
  border: none;
  color: transparent;

  transition: all 0.5s;
}

.continueButton {
  border: 5px solid white;
  min-height: 100px;
  min-width: 100px;
  vertical-align: middle;
  background-size: cover;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 12px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(56, 243, 56);
  color: white;
  font-size: 40px;

  transition: all 0.5s;

  border-radius: 100px;

  font-weight: 800;
  letter-spacing: 8px;
  line-height: 1.3;
}

button:focus {
  outline: 0;
}

.continueButton:hover {
  transform: scale(1.1);
}

.arrow:hover {
  min-height: 130px;
  width: 100px;
  margin-bottom: 10px;
}

.L {
  transform: scaleX(-1);
}

.time {
  min-height: 200px;
  width: 300px;
  vertical-align: middle;
  background-size: cover;
  background-color: white;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;

  font-weight: 800;
  letter-spacing: 8px;
  line-height: 1.3;
}

@media only screen and (max-width: 1300px) {
  .time {
    width: 275px;
    min-height: 150px;
    height: 150px;
  }
}

.chicagoh2 {
  color: #fff;
  text-transform: uppercase;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 2vh;
  backface-visibility: hidden; /* fixes shaking in animation */
  font-size: 24px;

  font-weight: 800;
  letter-spacing: 8px;
  line-height: 1.3;
}

.searchButton {
  min-height: 100%;
  width: 55px;
  vertical-align: middle;
  background: url("../images/magnifyingglass.png");
  background-size: cover;
  background-color: white;
}

input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #signOut {
    padding-top: 8vh;
  }
}
