.header {
  height: 100vh; /* out of 100 */
  background-image: linear-gradient(
      to right,
      rgba(67, 48, 133, 0.8),
      rgba(58, 65, 62, 0.692)
    ),
    url("../images/chicago.jpg");
  background-size: cover; /* try to fit width of viewport or element */
  background-position: top; /* top of img stays atop container */
  position: relative;
}

.text-box {
  margin: 0 auto;
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* fixes shaking in animation */
  margin-bottom: 10px;

  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 15px;
}

#container {
  margin: 0 auto;
  height: 70vh;
  width: 30rem;
  background-color: hsl(0, 100%, 25%, 0.4);
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  width: 11rem;
  padding: 15px 40px;
  display: inline-block; /* allows text-align to center it */
  border-radius: 50px;
  transition: all 0.2s; /* initial state */
  position: relative;
}

.btn:hover {
  text-decoration: underline;
  transform: translateY(-3px); /* goes up 3px */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* (x, y, blur, color) */
}

.btn:active {
  transform: translateY(-1px); /* goes up 1 px */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* (x, y, blur, color) */
}

.btn-white {
  background-color: white;
  color: black;
}

/* adds a virtual element right after the element we're selecting */
.btn::after {
  content: "";

  /* Same properties as button */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6); /* put transition property in initial state */
  opacity: 0; /* trick to fading */
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s; /* animation delay */
  animation-fill-mode: backwards; /* apply styles up to 0% b4 the animation starts */
}
