.header {
  height: 100vh; /* out of 100 */
  background-image: linear-gradient(
      to right,
      rgba(67, 48, 133, 0.8),
      rgba(58, 65, 62, 0.692)
    ),
    url("../images/chicago.jpg");
  background-size: cover; /* try to fit width of viewport or element */
  background-position: top; /* top of img stays atop container */
  position: relative;
}

.column {
  padding-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.chicago {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; /* fixes shaking in animation */
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 50px;
  font-weight: 800;
  letter-spacing: 20px;
  line-height: 1.3;
}

#user {
  color: #f5f2d0;
  font-size: 30px;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.chicagoh2 {
  color: #fff;
  text-transform: uppercase;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  backface-visibility: hidden; /* fixes shaking in animation */
  margin-bottom: 1vh;
  font-size: 24px;

  font-weight: 800;
  letter-spacing: 8px;
  line-height: 1.3;
}

.chicagoh3 {
  color: #f5f2d0;
  text-transform: uppercase;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

  backface-visibility: hidden; /* fixes shaking in animation */
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 18px;

  font-weight: 800;
  letter-spacing: 8px;
  line-height: 1.3;
}

@media only screen and (max-width: 1000px) {
  .chicago {
    line-height: 1;
    letter-spacing: 13px;
    font-size: 40px;
  }
  #user {
    font-size: 30px;
  }
  .chicagoh2 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 7px;
    line-height: 1;
  }
  .chicagoh3 {
  }
}

.searchContainer {
  vertical-align: middle;
  height: 8.5vh;
}
.searchBar {
  position: relative;
  width: 45vw;
  height: 100%;
  vertical-align: middle;
  font-size: 26px;
}

.searchButton {
  width: 55px;
  height: 100%;
  vertical-align: middle;
  background: url("../images/magnifyingglass.png");
  background-size: cover;
  background-color: white;
}

.buttons {
  height: 30vh;
  width: 250px;
  vertical-align: middle;
  background-size: cover;
  background-color: white;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;

  font-weight: 800;
  letter-spacing: 8px;
  line-height: 1.3;
}

.text-box {
  position: absolute;
  top: 50%; /* from parent element */
  left: 50%; /* from parent element */
  transform: translate(-50%, -50%); /* from itself (top-left corner entry) */
  text-align: center;
}

input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.browse {
  display: block;
  margin-top: 10px;
  color: white;
}

#signOut {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px 0 0;
  color: turquoise;
  cursor: pointer;
}
